/* 모든 요소 선택 */

* {
  font-weight: bold;
  color: darkorange;
}
/* 별표(*)는 페이지 안에 있는 모든 요소라는 의미 */

* {
  color: plum;
}
/* 결과 화면을 봤을 때, 텍스트가 plum 적용이 되어있다. 이상에서 알수있는 것은 이어지는 두개의 선택자가 같을 경우에는 뒤에 오는 코드가 우선순위를 가진다. 그런데 첫번째 선택자에는 font-weight 가 있지만 두번째는 없다. 위에서 적용된 속성은 유지된 채로 덮어쓰기가 된다는 것도 확인 가능하다. */

/* 태그 선택자 */

p {
  color: olivedrab;
}
/* HTML에서 사용하는 태그를 그대로 사용하면 된다. 그러면 p 태그에 해당하는 모든 폰트색이 olivedrab로 적용된 것을 확인할 수있다. */
/* 태그 선택자는 기본 선택자(*)로 작성한 모든 요소 선택자보다 우선 순위를 가진다. 더 구체적이고 지엽적인 선택자가 우선 순위를 획득한다. 
CSS는 어떤 코드를 더 최근에 썼는가 + 어떤 조건이 더 구체적인가가 복합적으로 적용된다.*/

/* 클래스 선택자 */

/* HTML 태그 내에 calss를 명시할 수 있다. 클래스 선택자는 페이지의 여러 곳에 중복으로 사용가능하다. */

.blue {
  color: lightblue;
}

/* 이상의 결과에서 span class="blue"태그도 색깔이 바뀌는데 
클래스 선택자가 태그 선택자보다 우선 순위를 가진다는 것을 확인할 수 있다.*/

p.blue {
  color: slateblue;
}

.blue.dark {
  color: mediumblue;
}

p.blue.dark {
  color: darkblue;
}

/* 클래스 선택자의 특징은 다른 선택자에 이어 붙이는 것이 가능하다는 것이다. 태그선택자에 .을 붙여서 클래스 선택자가 적용됐다. 이는 span class="blue"보다 더 구체적이라 lightblue가 적용되고, p class="blue"에는 slateblue가 적용됐다. .blue.dark이기 때문에 모든 태그에서 class명이 blue면서 dark인 것을 찾아 mediumblue를 적용한다는 의미다. 그런데 p.blue.dark이기 때문에 더 구체적으로 조건이 명시되었으므로 결과적으로 mediumblue가 아니라 darkblue가 적용되었다.*/

/* id 선택자 */

/* 한 페이지에서 여러 요소를 공유해서 사용할 수 있는 클래스와 달리 id는 딱 한가지 요소에만 고유하게 사용할 수있다. id 명을 불러오는 구분자는 #이다. */

#red {
  color: tomato;
}

/* id는 클래스보다 더 조건이 구체적이기 때문에 .html의 15번 라인에서 css는 .blue가 적용되는 것이아니라 #red가 적용된다. 
'.'은 클래스지정
'#'은 id 지정
*/

/* 그룹 선택자 */
span, .dark, #red {
  text-decoration: underline;
}

/* 
앞에 있는 것이 우선 순위가 높다.
id선택자 > 클래스 선택자 > 태그 선택자 > 기본 선택자
 */